
// @import url('https://fonts.googleapis.com/css?family=Cormorant+SC|Petit+Formal+Script|Playfair+Display');
@import "./variables.scss";

html, body, #root, .app {
    margin: 0;
    height: 100%;
    font-family: $primaryFont;
    color: #444;
}

h1,h2,h3,h4 {
    font-family: $titleFont;
    margin: 10px 0;
    font-weight: 400;
}

.app {
    // display: flex;
    // flex-direction: column-reverse;
    // justify-content: stretch;
    // align-items: center;
}
.button {
    padding: 15px;
    color: $accent;
    background: #fff;
}
.content {
    padding: 0;
    flex: 10 1 100%;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    &>div {
        width: 100%;
    }
}
.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
input {
    padding: 5px;
    font-size: 1.3em;
    outline: none;
    border: none;
    border: 1px solid #888;
    max-width: 90%;
    &:focus {
        border-color: lighten($accent, 10%);
    }
    &::placeholder, &:-ms-input-placeholder {
        color: #ccc;
        letter-spacing: 1px;
        font-weight: 200;
    }
}