
// @import url('https://fonts.googleapis.com/css?family=Cormorant+SC|Petit+Formal+Script|Playfair+Display');
@import "./variables.scss";

html, body, #root, .app {
    margin: 0;
    height: 100%;
    font-family: $primaryFont;
    letter-spacing: 1px;
    color: #444;
    background: radial-gradient(#ffffff, #f4f4f4);
}

h1,h2,h3,h4 {
    font-family: $titleFont;
    letter-spacing: 1px;
    margin: 10px 0;
    font-weight: 400;
}

.app {
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    align-items: center;
}

.content {
    padding: 0;
    flex: 10 1 100%;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.fa-spinner {
    animation: spin 1.5s linear infinite;
}

.button {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background: #f7f7f7;
    }
    i {
        margin-right: 3px;
        color: #666;            
    }
}
