
// @import url('https://fonts.googleapis.com/css?family=Cormorant+SC|Petit+Formal+Script|Playfair+Display');
@import "./variables.scss";

html, body, #root, .app {
    margin: 0;
    height: 100%;
    font-family: $primaryFont;
    color: #444;
}

h1,h2,h3,h4 {
    font-family: $titleFont;
    margin: 10px 0;
    font-weight: 400;
}

.app {
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    align-items: center;
}
.button {
    // border: 1px solid $accent;
    padding: 15px;
    color: $accent;
    background: #fff;
    // cursor:pointer;
    // &:hover {
    //     background: #f7f7f7;
    // }
}
.content {
    padding: 0;
    flex: 10 1 100%;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    &>div {
        width: 100%;
    }
}

input {
    width: 300px;
    padding: 5px;
    font-size: 1.3em;
}